# Database
DATABASE_URL="postgresql://postgres:123456@localhost:5432/rag_chatbot"

# Server
PORT=4000
BETTER_AUTH_API_KEY="your-auth-api-key"
BETTER_AUTH_URL="http://localhost:3000"

# AI / Embeddings
LOCAL_MODEL_URL="http://localhost:1234/v1"
OPENAI_API_KEY=your-openai-api-key
OPENAI_URL="https://api.openai.com/v1/embeddings"

# S3-compatible Object Storage (MinIO lokal / Cloudflare R2 production)
S3_ENDPOINT=localhost
S3_PORT=9000
S3_USE_SSL=false
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=pdf-documents
